@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    overflow: hidden;
    position: relative;
}

.card-image img {
    width: 100%;
    display: block;
}

.card-content {
    padding: 1.5rem;
}

.card-content h2 {
    color: var(--very-dark-grayish-blue);
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.card-content p {
    color: var(--grayish-blue);
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    display: flex;
    align-items: center;
}

.author img {
    width: 40px;
    border-radius: 50%;
    margin-right: 0.75rem;
}

.author-info h3 {
    color: var(--very-dark-grayish-blue);
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
}

.author-info p {
    color: var(--grayish-blue);
    font-size: 0.75rem;
}

.share-button {
    background-color: var(--very-dark-grayish-blue);
    border: none;
    border-radius: 50%;
    padding: 0.75rem;
    cursor: pointer;
}

.share-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--very-dark-grayish-blue);
    color: var(--white);
    padding: 1.5rem 2rem;
    border-radius: 0 0 10px 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.share-container p {
    /* margin-left: 1.5rem; */
    color: var(--grayish-blue);
}

.share-container a {
    margin-left: 1rem;
}

.share-container a  img {
    width: 1.5rem;
}

.hide-share-button {
  background-color: var(--desaturated-dark-blue);
  border: none;
  border-radius: 50%;
  padding: 0.75rem;
  cursor: pointer;
  margin-left: auto;
}

.share-container.active {
    display: none;
}
